.App {
    text-align: center;
}

.dice {
    font-size: xx-large;
}

.gotchi-view {
    position: absolute;
    top: 0;
    left: 0;
}

.island-view {
    position: absolute;
    top: 0;
    left: 80%;
}

.control-panel {
    position: absolute;
    left: 80%;
    top: 30%;
    width: 20%;
    height: 70%;
}

.feature-prompt {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
}

.feature-value {
    display: inline-block;
    width: 300px;
}

:host {
    display: block;
    height: 100%;
    max-height: 100%;
}

.cell-on-outside {
    fill: #fff950;
}

.cell-off-outside {
    fill: #2a2a2a;
}

.cell-on-inside {
    fill: #93b2b8;
}

.cell-off-inside {
    fill: #676767;
}

.cell-self-owned {
    stroke: white;
    stroke-width: 0.03px;
}

.cell-other-owned {
    stroke: #ff0024;
    stroke-width: 0.03px;
}

.cell-gotch-free {
    stroke: #fff950;
    stroke-width: 0.05px;
}

.cell-free {
    stroke: #fff950;
    stroke-width: 0.05px;
}

.cell-new {
    stroke: #1bff37;
    stroke-width: 0.04px;
}

.gotch-highlight {
    fill: black;
}

.gotch-highlight-free {
    fill: yellow;
}

.gotch-highlight-owned {
    fill: white;
}

.gotch-highlight-taken {
    fill: red;
}

