.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.gotchi-panel {
}

.control-panel {
    border-style: solid;
    border-color: green;
    border-width: 4px;
}

.feature-prompt {
    width: 400px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
}

:host {
    display: block;
    height: 100%;
    max-height: 100%;
}

.cell-on-outside {
    fill: #fff950;
}

.cell-off-outside {
    fill: #2a2a2a;
}

.cell-on-inside {
    fill: #93b2b8;
}

.cell-off-inside {
    fill: #676767;
}

.cell-self-owned {
    stroke: white;
    stroke-width: 0.03px;
}

.cell-other-owned {
    stroke: #ff0024;
    stroke-width: 0.03px;
}

.cell-gotch-free {
    stroke: #fff950;
    stroke-width: 0.05px;
}

.cell-free {
    stroke: #fff950;
    stroke-width: 0.05px;
}

.cell-new {
    stroke: #1bff37;
    stroke-width: 0.04px;
}

.gotch-highlight {
    fill: black;
}

.gotch-highlight-free {
    fill: yellow;
}

.gotch-highlight-owned {
    fill: white;
}

.gotch-highlight-taken {
    fill: red;
}

