.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.TokenView {
    position: absolute;
    left: 0;
    top: 0;
    background-color: gray;
    width: 100%;
    height: 90%;
}

.BottomView {
    background-color: black;
    position: absolute;
    left: 0;
    top: 90%;
    width: 100%;
    height: 10%;
}

:host {
    display: block;
    height: 100%;
    max-height: 100%;
}

.whole-screen {
    height: 100%;
    width: 100%;
}

.main-panel {
    background-color: darkblue;
    position: absolute;
    left: 0;
    top: 0;
    width: 85%;
    height: 90%;
}

.light-on-outside {
    fill: #fff950;
}

.light-off-outside {
    fill: #2a2a2a;
}

.light-on-inside {
    fill: #93b2b8;
}

.light-off-inside {
    fill: #444444;
}

.light-self-owned {
    stroke: white;
    stroke-width: 0.04px;
}

.light-other-owned {
    stroke: #ff0024;
    stroke-width: 0.02px;
}

.light-token-free {
    stroke: #fff950;
    stroke-width: 0.05px;
}

.light-free {
    stroke: #fff4f4;
    stroke-width: 0.05px;
}

.light-new {
    stroke: #1bff37;
    stroke-width: 0.04px;
}

.token-highlight {
    fill: black;
    stroke-width: 0.03px;
}

.token-highlight-free {
    stroke: #c2bc3d;
}

.token-highlight-owned {
    stroke: #ffd7f3;
}

.token-highlight-taken {
    stroke: #a40018;
}

.token-background {
    fill: #5f5f5f;
}

.token-background-free {
    fill: #c2bc3d;
}


